<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
    <h1>Customer</h1>
    <table border="1">
        <tr>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
            <th>Driver License Number</th>
            <th>License Expiration Date</th>
        </tr>
        {% for customer in customers %}
        <tr>
          <td>{{ customer.CustomerID }}</td>
            <td>{{ customer.FirstName }}</td>
            <td>{{ customer.LastName }}</td>
            <td>{{customer.EmailAddress}}</td>
          <td>{{customer.PhoneNumber}}</td>
          <td>{{customer.Street}}</td>
          <td>{{customer.City}}</td>
          <td>{{customer.State}}</td>
            <td>{{ customer.DriverLicenseNumber }}</td>
            <td>{{ customer.ExpirationDate }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
